black==25.1.0
debugpy==1.8.13
fairly
flake8==7.1.2
ipykernel==6.29.5
ipython==9.0.2
jedi-language-server
jupyterlab==4.3.6
jupyterlab-server==2.27.3
matplotlib
numpy
open-webui==0.5.20
opencv-python
pandas
pre-commit
pydantic==2.10.6
pytest==8.3.5
scikit-learn
scipy
seaborn
torch
torchvision
tqdm
